extends ../includes/layout
block main-content
    if disapproved
        .alert.alert-dismissible.alert-danger #{disapproved}
            button.close(data-dismiss="alert") ×
    .container-fluid
        H2.text-center.break-word #{contestant.fullName}
        div.participant-images.panel-body.image-container.text-center
            each picture in contestant.pictures
                img.img-rounded.img-thumbnail(src=picture.url)
            else
                h5 Няма снимки!
            hr
            p Възраст: #{contestant.age}
            if comment
                p.break-word Коментар: #{contestant.comment}
            hr
            .fb-like(data-href=path, data-layout="button_count", data-action="like",
            data-show-faces="true", data-share="true")
