extends ../includes/layout
block main-content
    include ../includes/facebookSDK
    .container-fluid
        H2.text-center.break-word #{fullName}
        div.participant-images.panel-body.image-container.text-center
            for picture in pictures
                img.img-rounded.img-thumbnail(src=picture.url)
            else
                h5 Няма снимки!
            hr
            p Възраст: #{age} години
            if comment
                p.break-word Коментар: #{comment}
            if votes.length
                span Гласове: &nbsp
                span.badge #{votes.length}
            hr
            .fb-share-button(data-href="" data-layout="button_count")
block page-scripts
script(type="text/javascript" src="/scripts/masonry.pkgd.min.js")
