extends ../includes/layout
block main-content
    if (data && data.length)
        h4 Минали конкурси:
        hr
        .row#contest
        table.table.table-striped.table-hover
            thead
                tr
                    th.text-center #
                    th.text-center Име на конкурса
                    th.text-center Начална дата
                    th.text-center Крайна дата
                    th.col-lg-2 Действия
            tbody
            each contest, index in data
                tr.text-center
                    td #{index + 1}
                    td
                        a(href=path + "/" + contest._id) #{contest.name}
                    td #{moment(contest.startDate).format("DD/MM/YYYY")}
                    td #{moment(contest.endDate).format('DD/MM/YYYY')}
                    td.col-lg-2
                        a.edit-action.label.label-info(href=path + "/" + contest._id + "/addWinner") Добавяне на участник
                        a.edit-action.label.label-success(href=path + "/" + contest._id) Редактиране на конкурса
                        a.edit-action.label.label-danger(href=path + "/" + contest._id + "/delete") Изтриване на конкурса
    else
        h4 Няма изминали конкурси