extends ../../includes/layout
block main-content
    H4 Потребители:
    hr
    .row
        table(class="table table-striped table-hover")
            thead
                tr
                    th #
                    th Потребителско име:
                    th Име:
                    th Email:
                    th Facebook id:
                    th Дата на регистрация:
            tbody
                for user, index in users
                    tr
                        td #{index + 1}
                        td
                            a(href="./#{user._id}") #{user.username}
                        td #{user.firstName + ' ' + user.lastName}
                        td #{user.email}
                        td #{user.facebookId}
                        td #{user.registerDate}